<h1 id="greeting">Welcome to the Task Manager</h1>
<h2>A place to manage your tasks</h2>

<div id="links">
  <a class="btn" href="/tasks">Task Index</a>
  <a class="btn" href="/tasks/new">New Task</a>
</div>