<form action="/tasks/<%= @task.id %>" method="post">
  <h1>Edit Task</h1>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='task[title]' value="<%= @task.title %>"/><br/>
  <textarea name='task[description]'><%= @task.description %></textarea><br/>
  <input class="btn" type='submit'/>
</form>