<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <div class="task_title"><h2><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h2></div>
<% end %>

<a class="btn" href="/">Back to Dashboard</a>